.products {
    width: 100%;
  
    .products__item {
      margin-top: 35px;
  
      .products__item__image {
        position: relative;
        text-align: center;
        height: 386px;
        width: 380px;
        border-bottom: 3px solid #ff2020;
  
        &:hover {
          .products__item__image__icon,
          .products__item__image__text {
            opacity: 1;
            transition: 0.4s;
          }
        }
  
        .products__item__image__icon {
          position: absolute;
          top: 15px;
          right: 30px;
          font-size: 30px;
          opacity: 0;
          transition: 0.4s;
          cursor: pointer;
        }
  
        .products__item__image__text {
          background-color: #ff2020;
          height: 65px;
          text-align: center;
          transition: 0.6s;
          position: absolute;
          bottom: 0px;
          width: 100%; 
          opacity: 0;
          transition: 0.4s;
  
          p {
            color: white;
            padding-top: 20px;
            cursor: pointer;
          }
        }
  
        img {
          width: 200px;
        }
      }
  
      .products__item__title {
        text-align: center;
  .title__link {
    color: #444444;
    text-decoration: none;
    h3 {
      color: #444444;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 600;
      margin-top: 15px;
      font-size: 25px;
    }
  }
  .category{
    color: red;
    margin-bottom: 0;
  }
  
        p {

        }
      }
    }
  }
  
@media screen and (max-width: 768px) {
    .products{
        .container{
            .row{
                flex-direction: column;
            }
        }
    }
  }