.contact__right {
padding-top:70px  ;
  button {
    background-color: red;
    color: white;
    border: none;
    height: 45px;
    width: 105px;
    border-radius: 12px;
    margin-top: 50px;
    margin-bottom: 100px;
  }
}
.contact__left {
 
  padding-top:100px  ;

  .contact__info {
    .contact__icon {
      font-size: 38px;
      margin-left: 35px;
      color: #8a8a8a;
    }
    .contact__info__text {
      margin-left: 14px;
      h5 {
        margin-bottom: 0;
        font-size: 17px;
      }
      p {
        color: #8a8a8a;
      }
    }
  }
}
