.section {
  .sliders {
    margin-top: 35px;
    background-color: #f0f0f2;
    .slider__all {
      .slider__title {
        h1 {
          color: #0b1c39;
          font-size: 95px;
          font-weight: 700;
          margin-top: 295px;
        }
        p {
          margin-top: 40px;
          font-size: 15px;
          font-weight: 600;
        }
        button {
          margin-top: 50px;
          color: white;
          background-color: #4a4a4b;
          border: none;
          height: 50px;
          width: 145px;
          font-size: 20px;
          font-weight: 600;
        }
      }
      .slider__image {
      }
    }
  }
  .arrivals {
    margin-top: 165px;
    .arrivals__title {
      h2 {
        font-size: 45px;
        font-weight: 700;
        margin-left: 35px;
      }
    }
    .arrivals__products {
      margin-top: 65px;
      .arrivals__product {
        text-align: center;
        h3 {
          margin-top: 30px;
          color: #444444;
          font-weight: 600;
        }
        p {
          color: red;
          font-weight: 600;
        }
      }
    }
  }
  .gallery {
    margin-top: 145px;
    .gallery__image__left {
      img {
        width: 734px;
      }
    }
    .gallery__image__right {
      .gallery__image__right__middle {
        width: 320px;
        height: 413px;
        &:hover {
          -webkit-transform: scale(1);
          transform: scale(1);
        }
      }
      .gallery__image__right__end {
        margin-left: 27px;
        width: 412px;
      }
    }
  }
  .items {
    margin-top: 195px;
    .items__title {
      text-align: center;
      h3 {
        font-weight: 700;
        font-size: 50px;
      }
      p {
        color: #777;
      }
    }
    .items__btn {
      text-align: center;
      margin-top: 110px;
      button {
        background-color: red;
        color: white;
        border: none;
        width: 260px;
        height: 55px;
        font-weight: 700;
        transition: 0.5s;

        &:hover {
          background-color: #444444;
          transition: 0.5s;
        }
      }
    }
  }
  .video {
    margin-top: 160px;
  }
  .choise {
    margin-top: 140px;
    .choise__right {
      margin-top: 145px;
      h2 {
        font-size: 60px;
        font-weight: 700;
      }
      p {
        color: #777;
        margin-top: 45px;
        font-weight: 600;
      }
      button {
        margin-top: 30px;
        background-color: red;
        color: white;
        border: none;
        height: 55px;
        width: 185px;
        font-weight: 600;
      }
    }
    .choise__left{
      margin-top: 30px;
    }
  }
}
@media screen and (max-width: 1024px) {
  .slider__all
  {

    .slider__title{
      
      h1{
        font-size: 10px;
      }
    }
    
    .slider__image{
      width: 400px;
    }
  }
 }
 @media screen and (max-width: 960px) {
  .arrivals{
    .arrivals__products{
      flex-direction: column;
    }
  }
  .gallery{
    flex-direction: column;
    .gallery__image__left{
     .left{
      width: 200px;
     }
    }
  }
}
@media screen and (max-width: 768px) {
  .arrivals{
    .arrivals__products{
      flex-direction: column;
    }
  }
  .gallery{
    flex-direction: column;
    .gallery__image__left{
     .left{
      width: 200px;
     }
    }
  }
}