.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
    .register__title {
      text-align: center;
      padding: 20px;
      background-color: white; 
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  
      h2 {
        margin-bottom: 20px;
        color: #333; 
      }
  
      .register__input__text {
        display: block;
        width: 100%;
        padding: 15px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
  
        &:focus {
          outline: none;
          border-color: #2577fd; 
        }
      }
  
      button {
        display: block;
        width: 100%;
        padding: 15px;
        color: #fff;
        background-color: #2577fd;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #1e5ab4;
        }
      }
    }
  }
  