.navbar {

    .navbar__all {
      display: flex;
      justify-content: space-between;
        width: 100%;
        margin-top: 40px;
        
      .navbar__logo {
      }
  
      .navbar__orderlist {
        ul {
          display: flex;
          margin: 0;
          padding: 0;
          list-style: none;
          gap: 30px;
          font-family: "Josefin Sans",sans-serif;
          li {
              margin-right: 10px; 
              &:hover{
                color: red;
                cursor: pointer;
              }
          }
        }
      }
      .navbar__icons {
        display: flex;
        gap: 30px;
      
        .navbar__user__hover {
          display: none;
          position: absolute;
          background-color: white;
          margin-top: 16px;
          margin-left: 15px;
          padding: 10px;
          border-radius: 5px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          pointer-events: none;
          transition: opacity 0.3s ease-in-out;
          z-index: 1;
          opacity: 0; /* Opacity set to 0 by default */
      
        
        }
      
        .user {
          cursor: pointer;
          position: relative;
      
          &:hover + .navbar__user__hover {
            display: block;
            opacity: 1; /* Show the hover content */
          }
        }
      }
      
      
      
      .bar{
        display: none;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .navbar__orderlist{
      display: none;
    }
    .bar{
      display: block;
    }
  }