.navbar {

    .navbar__all {
      display: flex;
      justify-content: space-between;
        width: 100%;
        margin-top: 40px;
        
      .navbar__logo {
      }
  
      .navbar__orderlist {
        ul {
          display: flex;
          margin: 0;
          padding: 0;
          list-style: none;
          gap: 30px;
          font-family: "Josefin Sans",sans-serif;
          li {
              margin-right: 10px; 
            .change__link{
              text-decoration: none;
              color: black;
              &:hover{
                color: red;
              }
            }
              &:hover{
                color: red;
                cursor: pointer;
              }
          }
        }
      }
      .navbar__icons {
        display: flex;
        gap: 30px;
        align-items: center;
        .search__icon{
          font-size: 20px;
          &:hover{
            color: red;
            cursor: pointer;
          }
      }
        .navbar__user {
          cursor: pointer;
          position: relative;
      
          .fa-user {
            font-size: 18px;
          }
          .search__icon{
              font-size: 20px;
              &:hover{
                color: red;
                cursor: pointer;
              }
          }
          .navbar__user__hover {
            position: absolute;
            background-color: white;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            z-index: 1;
            margin-top: -1px; 
            margin-left: -20px;
            display: flex;
            flex-direction: column;
            align-items: center;
      
            .user__text {
              display: none;
            }
            .hover__link{
              text-decoration: none;
              color: black;
              &:hover{
                color: red;
                
              }
              p {
              margin: 5px 0;
              cursor: pointer;
              
            }
          }
          }
      
          &:hover .navbar__user__hover {
            opacity: 1;
            transition: opacity 0.3s ease-in-out;
      
            .user__text {
              display: block;
            }
          }
        }
        .icon__link{
          color: black;
          .shop__icon{
            font-size: 20px;
            &:hover{
              color: red;
              cursor: pointer;
            }
          }
        }
      }
      
      
      
      
      .bar{
        display: none;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .navbar__orderlist{
      display: none;
    }
    .bar{
      display: block;
    }
  }